* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(Background.jpg) no-repeat;
    background-size: cover;
}

.Reyzi {
    width: 420px;
    padding: 30px 40px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(9px);
    color: #fff;
    border-radius: 12px;
}

.title {
    text-align: center;
    margin-bottom: 30px;
    color: #7f829b;
    font-weight: 600;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.masukan-data {
    margin-bottom: 30px;
    position: relative;
}

.masukan-data input {
    width: 100%;
    padding: 15px 20px 15px 50px;
    border: none;
    border-radius: 15px;
    outline: none;
    background-color: #e0e5ec;
    font-size: 15px;
    color: #31344b;
    box-shadow: inset 5px 5px 10px #afb1a8, inset -5px -5px 10px #ffffff;
}

.masukan-data input::placeholder{
    color: #a3a3a3;
}

.masukan-data i{
    position: absolute;
    left: 20px;
    top: 50px;
    transform: translate(-50%);
    color: #31344b;
    font-size: 20px;
}

.tombol {
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    background-color: #e0e5ec;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 600;
    color: #31344b;
    cursor: pointer;
    box-shadow: 5px 5px 10px #b8b9b3, -5px -5px 10px #ffffff;
    transition: all 1s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.tombol:hover {
    box-shadow: inset 5px 5px 10px #b8b9b3, -1px -1px 10px #afaeae;
}

.tombol:active{
    transform: scale(0.98);
}

.link{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.link a{
    text-decoration: none;
    color: #31344b;
    font-size: 14px;
    transition: all 0, 3s ease;
}

.link a:hover{
    color: #4d4d4d;
    text-decoration: underline;
}

.tugas {
    text-align: center;
    text-decoration: solid;
    text-shadow: 1px 2px 10px #d3d2d2;
}

@media (max-width: 400px) {
    .container {
        padding: 30px 20px;
        margin: 0 15px;
    }

    .title {
        font-size: 24px;
    }

    .masukan-data {
        padding: 12px 15px 12px 45px;
    }

    .masukan-data i {
        font-size: 18px;
        left: 15px;
    }

    .tombol {
        padding: 12px;
    }
}